body {
	margin: 0;
}

header {
	width: 100vw;
	height: 5vh;
	background-color: grey;
	position: relative;
	display: inline-block;
}

.head {
	width: 60vw;
	position: relative;
	left: 0vw;
}

.signup.page {
	width: 100vw;
	min-height: 100vh;
	background-color: gray;
	position: absolute;
}

.signup.form.base {
	width: 350px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin: 50px auto 10px;
	padding: 10px 0;
	
}

.signup.form.logo {
	text-align: center;
	font-size: 4em;
	font-family: cursive, sans-serif;
	padding: 0 0 10px;
	margin: 0;
}

.signup.form.field {
	margin: 0 40px 6px;
	position: relative;
	padding: 0;
	text-align: center;
}

input.signup.form.field {
    align-items: center;
    background: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    position: relative;
	width: 100%;
	padding: 10px;
	margin: 0;
}

input.signup.form.field.button {
	border: 1px solid transparent;
	background-color: rgba(56, 151, 240, 1);
	color: rgba(255, 255, 255, 1);
}