html {
	background: Black;
	font-family: Arial, Helvetica, sans-serif; }

body {
	background-image: url("https://wallpapercave.com/wp/wp2229436.jpg");
	background-size: cover;
	height: 1% }

main {
	width: 95vw;
	margin: 1vh auto;
	color: black; }

.row {
	display: flex;
	text-align: center;
	height: 6vh; }

.elem {
	font-size: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 5vw 0 0;
	color: black;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 1px;
	text-decoration: none; }

.elem.a-m {
	background: radial-gradient(rgba(255, 0 ,0 ,1), rgba(255, 100, 0, 1)) }

.elem.a-e {
	background: radial-gradient(rgba(255, 155, 1), rgba(255, 200, 0, 1));
	background-color: orange; }

.elem.t-m {
	background: radial-gradient(rgba(255, 225, 0, 1), rgba(255, 255, 0 ,1));
	background-color: yellow; }

.elem.b-m {
	background: radial-gradient(rgba(0, 150, 0, 1), rgba(0, 180, 0 ,1));
	background-color: green; }

.elem.m {
	background: radial-gradient(rgba(0, 150, 255, 1), rgba(0, 200, 255 ,1));
	background-color: lightskyblue; }
	
.elem.n-m {
	background: radial-gradient(rgba(0, 25, 225, 1), rgba(0, 50, 255 ,1));
	background-color: blue; }

.elem.h {
	background: radial-gradient(rgba(225, 50, 225, 1), rgba(255, 100, 255 ,1));
	background-color: orchid; }

.elem.n-g {
	background: radial-gradient(rgba(150, 0, 225, 1), rgba(175, 0, 255 ,1));
	background-color: purple; }

.elem.l {
	background: radial-gradient(rgba(20, 255, 0, 1), rgba(100, 255, 0 ,1));
	background-color: lime; }

.elem.a {
	background: radial-gradient(rgba(150, 50, 0, 1), rgba(175, 50, 0 ,1));
	background-color: brown; }